  @media screen and (max-width: 914px) {
  .animateBenefits {
    display: none;
    vertical-align: top;
    position: relative;
    text-align: center;
    border: 1px solid white;
    width: 20vw;
    min-height: 50vh;
}

.animateBenefits h3 {
    color: blue;
}

    }