

.scramble{
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  }
.text{
  font-weight: 120;
  font-size: 30px;
  color: white;
  }
.dud{
  color: #cd501b;
}
