$activeOrange: #cd501b;

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/*
sections ==================
*/

#sec1 {
    position: relative;
}

#sec1 h1 {
    color: $activeOrange;
}

#sec2 {
    overflow: hidden;
    clear: both;
    z-index: 888;
}

#sec4 {
    display: block;
    clear: both;
}

.spacer {
    height: 25vh;
}

/*
background ==================
*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen_video {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

/*
first scene ==================
*/
.comet {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
    margin-left: 5vw;
    margin-right: 5vw;
    transform: scale(.0001);
}

.defaultTitle {
    text-align: center;
    visibility: hidden;
}

.titleChanged {
    color: white;
    visibility: visible;
}

.connect {
    clear: both;
    float: left;
    color: white;
    text-align: center;
}

.browse {
    float: right;
    color: white;
    text-align: center;
}

.flyIn {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    transition: height 2s ease;
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    transition: width 2s ease;
}

/*
second scene ==================
*/

.listOf6 {
    display: table;
    table-layout: fixed;
    position: relative;
    margin: auto;
}



.animateBenefits {
    display: table-cell;
    vertical-align: top;
    position: relative;
    text-align: center;
    border: 1px solid white;
    width: 15vw;
    min-height: 50vh;
}

.animateBenefitsTitle {
    vertical-align: top;
    position: relative;
    text-align: center;
    width: 100vw;
}

.animateBenefitsTitle h4 {
    color: $activeOrange;
}

.animateBenefits h3 {
    color: $activeOrange;
}

/*
dataCenter scene ==================
*/

.dataCenter {
    vertical-align: top;
    clear: both !important;
}

.globe {
    clear:both;
    float: left;
    height: auto;
    width: 50vw;
    margin-right: 5vw;
}

.dataCenterList {
    float:right;
    margin-right:5vw;
    color: white;
}

/*
CTA scene ==================
*/


.joinNow {
    font-weight: 100;
    font-size: 30px;
    background-color: transparent;
    color: $activeOrange;
    border: 2px solid $activeOrange;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

button:active {
    background-color: $activeOrange;
    color: white;
}

button:focus {
    outline: 0;
}

.goodbye {
    text-align: center;
    color: purple;
    margin-top: 25vh;
}

.imgCircle {
    clear: both;
    border-radius: 50%;
}

.icons {
    margin-bottom: 3vh;
    max-width: 20vw;
    max-height: 4vh;
}

.sponsors {
    text-align: center
}

footer {
    height: 5vh;
    bottom: 0 !important;
    vertical-align: bottom;
}

/*
Responsiveness ==================
*/
@media screen and (min-width: 557px) and (max-width: 914px) {
    .listOf6 {
        display: block;
        table-layout: fixed;
        position: relative;
        margin: auto;
        text-align: center;
    }
    .animateBenefits {
        display: inline-block;
        vertical-align: top;
        position: relative;
        text-align: center;
        border: 1px solid white;
        width: 32vw;
        min-height: 50vh;
    }
    .globe {
        float: left;
        height: 70vh;
        width: auto;
        margin-right: 15vw;
    }
    .spacer {
        height: 35vh;
    }
    .dataCenterList {
    float:left;
    margin-right:5vw;
    color: white;
}
}

@media screen and (max-width: 556px) {
    .spacer {
        height: 35vh;
    }
    .globe {
        float: left;
        height: 53vh;
        width: auto;
        margin-right: 15vw;
    }
    .listOf6 {
        display: block;
        table-layout: fixed;
        position: relative;
        margin: auto;
        text-align: center;
    }
    .animateBenefits {
        margin: auto;
        display: inline-block;
        vertical-align: top;
        position: relative;
        text-align: center;
        border: 1px solid white;
        width: 40vw;
        min-height: 65vh;
    }
    .dataCenterList {
    
    margin:auto;
    color: white;
}
}
