.section {
  width: 100%;
  height: 20vh;
  padding: 0;
  position: relative; }

.three {
  z-index: 9999;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .three #button {
    border-radius: 3px;
    border: 3.5px solid #cd501b;
    width: 15vw;
    min-width: 120px;
    padding: 16px;
    height: 40px;
    color: #cd501b;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: transparent;
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    box-shadow: 0px 0px 0px #fff;
    z-index: 0; }
    .three #button .ring {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #d85743;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -o-border-radius: 50px;
      border-radius: 50px;
      top: 40%;
      left: 45%;
      -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
      -moz-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
      transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
      transform: perspective(500px) translate3d(0px, 0px, 0px);
      opacity: 0.0; }
    .three #button:hover .one {
      transform: perspective(500px) translate3d(-90px, -50px, 150px);
      opacity: 1; }
    .three #button:hover .two {
      transform: perspective(800px) translate3d(-130px, 50px, 180px);
      opacity: 0.6; }
    .three #button:hover .three {
      transform: perspective(800px) translate3d(130px, 50px, 30px);
      opacity: 0.2; }
    .three #button:hover .four {
      transform: perspective(800px) translate3d(130px, -120px, 80px);
      opacity: 0.2; }
    .three #button::after {
      position: fixed;
      top: -35px;
      left: 10%;
      width: 150px;
      height: 150px;
      content: "";
      background: #d85743;
      border: solid 1px purple;
      z-index: -1;
      transform: perspective(800px) scale(0) rotate(0deg);
      -webkit-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
      -moz-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
      transition: all 2s cubic-bezier(0.55, 0, 0.1, 1); }
    .three #button:before {
      position: fixed;
      top: -40px;
      right: 1vw;
      width: 160px;
      height: 160px;
      content: "";
      background: transparent;
      z-index: -1;
      transform: perspective(800px) scale(0.4) rotate(0deg);
      -webkit-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
      -moz-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
      transition: all 2s cubic-bezier(0.55, 0, 0.1, 1); }
    .three #button:hover::after {
      transform: perspective(800px) scale(1) rotate(600deg); }
    .three #button:hover::before {
      border: solid 1px purple;
      transform: perspective(800px) scale(1) rotate(-100deg); }
    .three #button:hover {
      color: #302073; }

.activeListReveal {
  position: relative;
  margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(85px, 9999px, 51px, 0); }
  5% {
    clip: rect(17px, 9999px, 49px, 0); }
  10% {
    clip: rect(72px, 9999px, 83px, 0); }
  15% {
    clip: rect(78px, 9999px, 51px, 0); }
  20% {
    clip: rect(22px, 9999px, 86px, 0); }
  25% {
    clip: rect(74px, 9999px, 9px, 0); }
  30% {
    clip: rect(42px, 9999px, 15px, 0); }
  35% {
    clip: rect(94px, 9999px, 14px, 0); }
  40% {
    clip: rect(75px, 9999px, 2px, 0); }
  45% {
    clip: rect(40px, 9999px, 93px, 0); }
  50% {
    clip: rect(22px, 9999px, 65px, 0); }
  55% {
    clip: rect(94px, 9999px, 67px, 0); }
  60% {
    clip: rect(98px, 9999px, 75px, 0); }
  65% {
    clip: rect(64px, 9999px, 7px, 0); }
  70% {
    clip: rect(13px, 9999px, 61px, 0); }
  75% {
    clip: rect(7px, 9999px, 26px, 0); }
  80% {
    clip: rect(73px, 9999px, 67px, 0); }
  85% {
    clip: rect(22px, 9999px, 47px, 0); }
  90% {
    clip: rect(32px, 9999px, 67px, 0); }
  95% {
    clip: rect(48px, 9999px, 29px, 0); }
  100% {
    clip: rect(28px, 9999px, 10px, 0); } }

.activeListReveal:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #cd501b;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(99px, 9999px, 72px, 0); }
  5% {
    clip: rect(24px, 9999px, 26px, 0); }
  10% {
    clip: rect(27px, 9999px, 41px, 0); }
  15% {
    clip: rect(20px, 9999px, 26px, 0); }
  20% {
    clip: rect(42px, 9999px, 39px, 0); }
  25% {
    clip: rect(54px, 9999px, 32px, 0); }
  30% {
    clip: rect(42px, 9999px, 74px, 0); }
  35% {
    clip: rect(61px, 9999px, 42px, 0); }
  40% {
    clip: rect(16px, 9999px, 50px, 0); }
  45% {
    clip: rect(7px, 9999px, 60px, 0); }
  50% {
    clip: rect(73px, 9999px, 49px, 0); }
  55% {
    clip: rect(19px, 9999px, 83px, 0); }
  60% {
    clip: rect(81px, 9999px, 6px, 0); }
  65% {
    clip: rect(7px, 9999px, 27px, 0); }
  70% {
    clip: rect(30px, 9999px, 25px, 0); }
  75% {
    clip: rect(55px, 9999px, 7px, 0); }
  80% {
    clip: rect(74px, 9999px, 59px, 0); }
  85% {
    clip: rect(26px, 9999px, 25px, 0); }
  90% {
    clip: rect(6px, 9999px, 49px, 0); }
  95% {
    clip: rect(69px, 9999px, 86px, 0); }
  100% {
    clip: rect(32px, 9999px, 22px, 0); } }

.activeListReveal:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #cd501b;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

@media screen and (max-width: 914px) {
  .animateBenefits {
    display: none;
    vertical-align: top;
    position: relative;
    text-align: center;
    border: 1px solid white;
    width: 20vw;
    min-height: 50vh; }
  .animateBenefits h3 {
    color: blue; } }

.scramble {
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex; }

.text {
  font-weight: 120;
  font-size: 30px;
  color: white; }

.dud {
  color: #cd501b; }

.sideBar {
  left: 1vw;
  position: fixed;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
  z-index: 100; }

.active {
  color: #cd501b; }

.neon {
  color: #7100b3;
  -webkit-animation: pulse 1.5s ease-in-out infinite alternate;
  -webkit-backface-visibility: hidden; }

@-webkit-keyframes pulse {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #7100b3, 0 0 70px #7100b3, 0 0 80px #410067 , 0 0 100px #410067 , 0 0 150px #410067; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7100b3, 0 0 35px #7100b3, 0 0 40px #410067 , 0 0 50px #410067 , 0 0 75px #410067; } }

.star1 {
  position: fixed;
  z-index: 999; }

.starbox {
  position: absolute;
  z-index: 999; }

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px; }

/*
sections ==================
*/
#sec1 {
  position: relative; }

#sec1 h1 {
  color: #cd501b; }

#sec2 {
  overflow: hidden;
  clear: both;
  z-index: 888; }

#sec4 {
  display: block;
  clear: both;
  padding-top: 5vh;
  padding-bottom: 25vh; }

.spacer {
  height: 25vh; }

/*
background ==================
*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.fullscreen_video {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%; }

/*
first scene ==================
*/
.comet {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  margin-left: 5vw;
  margin-right: 5vw;
  transform: scale(0.0001); }

.defaultTitle {
  text-align: center;
  visibility: hidden; }

.titleChanged {
  color: white;
  visibility: visible; }

.connect {
  clear: both;
  float: left;
  margin-left: 15vw;
  color: white;
  text-align: center; }

.connect img {
  max-width: 45vw; }

.browse {
  float: right;
  margin-right: 10vw;
  color: white;
  text-align: center; }

.browse img {
  max-width: 45vw; }

.flyIn {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  transition: height 2s ease;
  -webkit-transition: width 2s ease;
  -moz-transition: width 2s ease;
  transition: width 2s ease; }

/*
second scene ==================
*/
.listOf6 {
  display: table;
  table-layout: fixed;
  position: relative;
  margin: auto; }

.animateBenefits {
  display: table-cell;
  vertical-align: top;
  position: relative;
  text-align: center;
  border: 1px solid white;
  width: 15vw;
  min-height: 50vh; }

.animateBenefitsTitle {
  vertical-align: top;
  position: relative;
  text-align: center;
  width: 100vw; }

.animateBenefitsTitle h4 {
  color: #cd501b; }

.animateBenefits h3 {
  color: #cd501b; }

/*
dataCenter scene ==================
*/
.dataCenter {
  vertical-align: top;
  clear: both !important; }

.globe {
  clear: both;
  float: left;
  height: auto;
  width: 50vw;
  margin-left: 5vw; }

.dataCenterList {
  float: right;
  margin-right: 10vw;
  color: white; }

.activeList {
  color: #cd501b; }

/*
CTA scene ==================
*/
button {
  cursor: pointer; }

button:active {
  background-color: #cd501b;
  color: white;
  border: none; }

button:focus {
  outline: 0; }

.goodbye {
  text-align: center;
  color: purple;
  margin-top: 25vh; }

.imgCircle {
  clear: both;
  border-radius: 50%; }

.icons {
  margin-bottom: 3vh;
  max-width: 20vw;
  max-height: 4vh;
  padding-left: 1vw; }

.sponsors {
  text-align: center; }

footer {
  height: 2vh;
  bottom: 0 !important;
  text-align: bottom; }

/*
Responsiveness ==================
*/
@media screen and (min-width: 557px) and (max-width: 914px) {
  .listOf6 {
    display: block;
    table-layout: fixed;
    position: relative;
    margin: auto;
    text-align: center; }
  .animateBenefits {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    border: 1px solid white;
    width: 32vw;
    min-height: 50vh; }
  .globe {
    float: left;
    height: 70vh;
    width: auto;
    margin-left: 15vw; }
  .spacer {
    height: 35vh; }
  .dataCenterList {
    float: right;
    padding-right: 20vw;
    color: white; } }

@media screen and (min-width: 915px) and (max-width: 1026px) {
  .dataCenterList {
    float: right;
    margin-right: 35vw;
    color: white; }
  .globe {
    float: left;
    height: 70vh;
    width: auto;
    margin-left: 15vw; } }

@media screen and (max-width: 556px) {
  .spacer {
    height: 35vh; }
  .globe {
    float: left;
    height: 53vh;
    width: auto;
    margin-right: 15vw; }
  .listOf6 {
    display: block;
    table-layout: fixed;
    position: relative;
    margin: auto;
    text-align: center; }
  .animateBenefits {
    margin: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    border: 1px solid white;
    width: 40vw;
    min-height: 65vh; }
  .dataCenterList {
    float: left;
    margin: auto;
    color: white; } }
